body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.schedule_header {
    position: fixed;
    display: block;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}


i {
    line-height: inherit; }

i.large {
    font-size: 6rem; }

.profile {
    content: url('img/satcher_robert.jpg');
}



    #popup_box
    {

    position:absolute;
        top: 10%;
        left: 15%;
        width: 70%;
        height: 70%;
        margin-top: 5px; /*set to a negative number 1/2 of your height*/
        margin-left: 5px; /*set to a negative number 1/2 of your width*/
        border: none;
        z-index: 50;

    }
