.mylogo{
    height: 100px;
}

.formHeading{
}

.submitBtn{
    margin-bottom: 50px;
    margin-bottom: 50px;
}

.beforesubmitBtn{
    margin-bottom: 30px;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.myheader{
    position:fixed;
    top:0px;
    margin:0px auto;
    z-index:100000;
    width:100%;}
}

.mycolor{
    background-color: #b83838;
}

.mynav{
    height: 100px;
}

.mynav a{
    vertical-align: middle;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

.mainBody{
    margin-top: 120px;
}
