.mylogo{
    height: 100px;
}

.formHeading{
}

.submitBtn{
    margin-bottom: 50px;
    margin-bottom: 50px;
}

.beforesubmitBtn{
    margin-bottom: 30px;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.myheader{
    position: relative;
}

.mycolor{
    background-color: #b83838;
}
