<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.ashesi.asheng" versioncode = "11" version = "1.1.0">
    <name>AshEngine</name>
    <description>
        An application for the launch of Ashesi's Engineering Block
    </description>
    <author href="http://www.ashesi.edu.gh" email="fredrick.abayie@ashesi.edu.gh">
        Fredrick Abayie
    </author>
    <gap:plugin name="net.roughshod.plugins.barcodescanner" version="3.0.0" />
    <icon src="img/ashesi_logo.jpg"/>
</widget>
